.header{
    display:flex;
    justify-content: space-around;
    position:sticky;
    background-color: aquamarine;
}
.navbar ul{
    list-style: none;
    display: flex;
    padding: 0%;
    margin: 0%;
    font-weight: bold;
}

.navbar li{
    display: inline;
    padding: 70px;
    margin: 40px;
}

.navbar li a{
    text-decoration: none;
    color: green;
    
}